@import 'reset'

.container
  padding-right: 40px
  padding-left: 40px
  margin-right: auto
  margin-left: auto

// 小屏
// @media screen and (max-width: 767px)

@media screen and (min-width: 768px)
  .container
    width: 710px
    padding-right: 20px
    padding-left: 20px

@media screen and (min-width: 992px)
  .container
    width: 965px

@media screen and (min-width: 1200px)
  .container
    width: 1140px

@media screen and (min-width: 1400px)
  .container
    width: 1240px
